.vim
.vscode/
.DS_STORE
.python-version
.jetpack.json
jetpack.project
.venv/
*.bak
__pycache__/
node_modules/
test_trainer
k8s.yml
06-is-it-down-monitor/app/.env
04-py-scheduled-jobs/app/.env
jetconfig.yaml
